<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.kylesmith.wakeup" >

    <!--ALLOWED SCREENS-->
    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <!-- all large size screens -->
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <!-- all extra-large size screens -->
        <screen android:screenSize="xlarge" android:screenDensity="ldpi" />
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
    </compatible-screens>

    <!--PERMISSIONS-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />


    <!--APPLICATION SETTINGS-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/blackmail_icon7"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--META-DATA-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCYw77pMLbmXvnT8ywBWECHc4u_QHhphd4" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


        <!--PROVIDER-->
        <provider android:authorities="com.facebook.app.FacebookContentProvider524592427688050"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />


        <!-- ACTIVITIES -->
        <activity android:name=".controller.IntroController" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.ScheduleController" android:screenOrientation="portrait"  ></activity>
        <activity android:name=".controller.NewApptController" android:screenOrientation="portrait" ></activity>
        <activity android:name=".controller.PhoneNumberController" android:screenOrientation="portrait" ></activity>
        <activity android:name=".controller.SettingsController" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.AboutController" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.SignupController" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.ApptDetailController"
            android:noHistory="true"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".controller.PhotoConfirmationController"></activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>

</manifest>
